fastapi
uvicorn
pandas
openpyxl
jinja2
python-multipart
blis==1.1.0
spacy
whoosh
python-Levenshtein
pyspellchecker
numpy==1.24.4
scipy==1.10.1
gensim==4.3.1
flair[word-embeddings]
ipywidgets
rank-bm25
notebook
ipykernel
nltk
PyMuPDF
python-dotenv
tomotopy
pyldavis
langchain
chromadb
pandas
openpyxl
tiktoken
sentence_transformers
